
body, html {
  
    margin:0;
    width:100%;
    height:100%;
    padding: 0;
    display:flex;
    flex-direction:column;
    min-height:100%;
    background-color:grey;
    
}

.header{
    background-color:#a6afbb;
    height:40px;
    margin:0;
    padding:0;
    width:100%;
    display:inline-flex;
    justify-content:space-between;
    
}

.buttons {
    width: 250px;
    height:50px;
    background-color:#a6afbb;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    text-align:center;
    color:black;
    font-family: courier;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

    
    


.page_content {
   
    
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:100%;
    height:100%;
   
}

.script {
    background-color:white;
    padding:30px;
    font-family:helvetica;
    color: #242424;
    border: 1px solid rgba(0,0,0,0.6);
    margin-top:10px;
    min-height:100%;
   
    
}
.script_container{
    width:49%;
    
}
.selection {
    width:100%;
    height:50px;
 
    
}

