
p {
    width:100%;
    
    word-wrap: break-word;
    
}


.feedback_display {
   
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:20px;
    

}

.submission_container {
    width: 54%;
    
    display:flex;
    flex-direction:column;
   
   

}

.submission_content {
   max-width:100%;
   background-color:white;
   display:flex;
   flex-direction:column;
   padding:30px;
   
   height:500px;
   border:solid 1px rgba(0,0,0,0.1);
   box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.1);
  
}

.tutor_feedback {
    width:100%;
    /*background-color:white;*/
    padding:20px;
    border:solid 1px rgba(0,0,0,0.1);

    
  
}
.tutor_feedback_section {
    width:44%;
  
    /*background-color:yellow;*/
    
}

.peer_feedback {
    margin-top:30px;
    width:100%;
    height:auto;
   
  
    
}

.ind_feedback {
    width:100%;
    height:200px;
    background-color:white;
    padding:10px;
    border:solid 1px rgba(0,0,0,0.1);
}

