{% extends 'base.html' %}
{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/assessment.css' %}">

    {% endblock %}

{% block content %}

 <div  class = "page_content">
    <div class = "p">
    <div class = "patch_box">
        <div class = "patch_title"><h1>Title</h1></div>
        <div class = "patch_text"><p>dsffsfsdfsdffffff
          

         
        </p></div>

    </div>
    <div class = "submission_status"><h1>Submitted</h1></div>
</div>
</div>
{% endblock %}