{% extends 'base.html' %}
{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/assessment.css' %}">

    {% endblock %}

{% block content %}

 <div  class = "page_content">
    <div class = "p">
    <div class = "assignment_box">
        <div class = "assignment_title"><h1>Review your knowledge</h1></div>
        <div class = "assignment_text"><p>dsffsfsdfsdffffff
           1. Choose to write about a work experience you had, where you had
           to review your pwn knowledge. 

           Put it through the lens of constructive criticism.
        </p></div>

    </div>
    <div class = "submission_status"><h1>Submitted</h1></div>
</div>
</div>
{% endblock %}