{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/patch.css' %}">
    {% endblock %}
{% block content %}
<div class = "page_content">
 
    <div class = "titel"><h1>{{ assignment.title}}</h1></div>

    <div class = "wrapper">
        <div class = "notification_box">
          <div class = "notifications">3 june</div>
            <div class = "notifications">5 july</div>
            <div class = "notifications">14 march</div>
            
        </div>
        <div class = "boxes">
            <a class = "box_link" id = "submission" href = "{% url 'assignment_view' assignment.id %}"> <h2>Submission</h2></a>
            <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' assignment.id %}"><h2>Give feedback</h2></a>
            <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' assignment.id %}"><h2>View feedback/Edit</h2></a>
            
        </div>
    </div>
</div>
{% endblock %}

{% block middle_content %}
{% endblock %}
