{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/assignment_view.css' %}">
    {% endblock %}
{% block content %}
 
<div class = "page_content">
 
   

  
        <div class = "menu_bar">
                <div class = "title"><h3>{{ assignment.assignment_title }}</h3></div>
            <a class = "box_link" id = "submission" href = "{% url 'assignment_view' assignment.id %}"> <h3>Submission</h3></a>
            <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' assignment.id %}"><h3>Give feedback</h3></a>
            <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' assignment.id %}"><h3>View feedback/Edit</h3></a>
            
        </div>
   
        <div class = "assignment_display">
            <div class = "assignment"> <p>{{ assignment.assignment_description }}</p></div>
            <div class = "submission_display">
                <div class = "submission_status"><h3>Submission deadline: {{ assignment.submission_date }}</h3>
                    <h3>Status:
                {% if submission %}
                    Submitted on {{ submission.published_date }}
                {% else %}
                        Not submitted
                        <a href = "{% url 'make_submission' assignment.id %}">Make submission</a>
                {% endif %}
            </h3>
                </div>
                <div class = "submission">
                    {{ submission.content }}
                    
                   

                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block middle_content %}
{% endblock %}
