<!DOCTYPE html>
{% load staticfiles %}

<html lang="en"></html>



<head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
    
    {% block import_block %}
        <!--Other file imports go here-->
    {% endblock %}
    <title>
      


    </title>

    <!--Imports-->

  
    
<header>
        
            {% if user.is_authenticated %}<p>Logged in as {{user.username}}</p>
           
            {% endif %}
</header>

   


</head>




<body>
        
   
        
            <div class = "left-content">
                    
                    
                </div>
            
            <div class = "middle-content">
                    {% block content %}
                    {% endblock %}
            </div>

            <div class = "right-content">

            </div>

        
    
    
    

</body>
</html>