<!DOCTYPE html>
{% load staticfiles %}

<html lang="en"></html>

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block import_block %}
        <!--Other file imports go here-->
    {% endblock %}
    <title>
      


    </title>

    <!--Imports-->

  

    <nav>
            <h1></h1>
        </nav>
    

   


</head>


<body>
    <div class = "page">
            <div class = "left-content">
                    
                    
                </div>
            
            <div class = "middle-content">
                    {% block content %}
                    {% endblock %}
            </div>

            <div class = "right-content">

            </div>

        
    </div>
    
    

</body>
</html>