<!DOCTYPE html>
{% load staticfiles %}

<html lang="en"></html>



<head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block import_block %}
        <!--Other file imports go here-->
    {% endblock %}
    <title>
      


    </title>

    <!--Imports-->

  
    
<header>
        
            {% if user.is_authenticated %}<p class = "header-items">Logged in as {{user.username}}</p><a href = "{% url 'log_out' %}"><p class = "header-items">Log out</p></a>
            {% if user.is_student %}
            <a href = "{% url 'student_home' %}"><p class = "header-items">Home</p></a>
            {% else %}
            <a href = "{% url 'teacher_home' %}"><p class = "header-items">Home</p></a>
            {% endif %}
            {% endif %}
       
</header>

   


</head>




<body>
        
   
        
            <div class = "left-content">
                    
                    
                </div>
            
            <div class = "middle-content">
                    {% block content %}
                    {% endblock %}
            </div>

            <div class = "right-content">

            </div>

        
    
    
    

</body>
</html>