{% extends 'base.html' %}

{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/give_feedback.css' %}">

    {% endblock %}

{% block content %}

<div class = "page_content">
        

  
        <div class = "menu_bar">
                <div class = "title"><h3>{{ patch.patch_title }}</h3></div>
            <a class = "box_link" id = "submission" href = "{% url 'patch_view' patch.id %}"> <h3>Submission</h3></a>
            <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' patch.id %}"><h3>Give feedback</h3></a>
            <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' patch.id %}"><h3>View feedback/Edit</h3></a>
            
        </div>
        <form action = "" class = "form" method="post">
                {% csrf_token %}
                {{ form }}
               
              
                <input type="submit" name="submit"/>
                </form>
{% endblock %}