{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/final_patch_view.css' %}">
{% endblock %}
{% block content %}

<div class="page_content">
    <div class="status_bar">
        <p>Select what patches to use for the final submission. 
    </div>
    <div class="past_submissions">
        <form action="{% url 'stitch_patches' student.id %}" method="post">
            {% csrf_token %}

            {% for s in submissions %}
            <div class="individual_submission">
                <input type="checkbox" name="{{ s.patch.id }}" value="{{ s.patch.id }}">
                <h3>{{ s.patch.patch_title }}</h3>
                <p>{{ s.content | safe }}</p>

            </div>
            {% endfor %}

            <input type="submit" value="Submit">
        </form>



    </div>

</div>
{% endblock %}