{% extends 'base.html' %}

{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/give_feedback.css' %}">

    {% endblock %}

{% block content %}

<div class = "page_content">
        

  
        <div class = "menu_bar">
                <div class = "title"><h3>{{ assignment.assignment_title }}</h3></div>
            <a class = "box_link" id = "submission" href = "{% url 'assignment_view' assignment.id %}"> <h3>Submission</h3></a>
            <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' assignment.id %}"><h3>Give feedback</h3></a>
            <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' assignment.id %}"><h3>View feedback/Edit</h3></a>
            
        </div>


     <div class = "group_display">
         <div class = "group">
        
        {% if submissions %}
        {% for s in submissions %}
            <div class = "member">
                <div class = member_name><a href = "{% url 'group_submission' s.id assignment.id %}"><h3>{{ s.student.user.username }}</h3></a></div>
            </div>
        {% endfor %}
        {% else %}
     
            <h3>No submissions yet</h3>
        {% endif %}
    </div>
    </div>

   
</div>
{% endblock %}