{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/give_feedback.css' %}">
{% endblock %}
{% block content %}

<div class = "page_content">
        

  
        <div class = "menu_bar">
              
            <a class = "box_link" id = "submission" href = "{% url 'patch_view' patch.id %}"> <p>{{ patch.patch_title }}</p></a>
            <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' patch.id %}"><p>Give feedback</p></a>
            <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' patch.id %}"><p>View feedback/Edit</p></a>
            
        </div>

        <h1>My group</h1>
     <div class = "group_display">
         
         <div class = "group">
        
        {% if submissions %}
        {% for s in submissions %}
            <div class = "member">
                <div class = member_name><a href = "{% url 'group_submission' patch.id s.id  %}"><h3>{{ s.student.user.username }}</h3></a></div>
                <i class="fa fa-user" id = "user_icon"></i>
            </div>
        {% endfor %}
        {% else %}
     
            <h3>No submissions yet</h3>
        {% endif %}
    </div>
    </div>

   
</div>
{% endblock %}