{% extends 'base.html' %}

{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/group_submission.css' %}">

    {% endblock %}

    {% block content %}

 
    <div class = "page_content">
 
            
        
          
                <div class = "menu_bar">
                    
                    <a class = "box_link" id = "submission" href = "{% url 'patch_view' patch.id %}"> <p>{{ patch.patch_title }}</p></a>
                    <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' patch.id %}"><p>Give feedback</p></a>
                    <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' patch.id %}"><p>View feedback/Edit</p></a>
                    
                </div>


        <div class = "submission_container">
            <div class = "submission"> <h3>{{ submission.student.user.username }}</h3>{{ submission.content }} </div>
            
            <div class = "feedback_container">
                    {% if peer_rubrik %}
                {% for review in peer_review %}
                <div class = "review">
                <h3>{{ review.author.user.username }}</h3>
                {{ review.review}}
                </div>
                {% endfor %}
                
               
               {% for rubrik in peer_rubrik %}
        
                <div class = "instruction">
                {{ rubrik.instruction }}
                </div>
                
                <form action="{% url 'submit_peer_review' patch.id submission.id rubrik.id %}" class = "form" method="post">
                        {% csrf_token %}
                {{ form }}
                <input type="submit" name="submit"/>
                 </form>
              
                {% endfor %}
                {% else %}
                <p>Peer review is not ready</p>
                

                
                {% endif %}

               
              
            

            </div>
        </div>
        </div>
   

{% endblock %}