{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
{% block content %}
<h1>My timeline</h1>
                <div class="patchwork">
				
					
                    <div class="patches" onclick = "window.location.href='patch';"></div>
					
					<div class = "timeline"></div>
					<div class="peer-review"></div>
					<div class = "timeline"></div>
                    <div class="patches"></div>
					<div class = "timeline"></div>
					<div class="peer-review"></div>
					<div class = "timeline"></div>
                    <div class="patches"></div>
					<div class = "timeline"></div>
					<div class="peer-review"></div>
					<div class = "timeline"></div>
                    <div class="patches"></div>
					<div class = "timeline"></div>
					<div class="peer-review"></div>
					<div class = "timeline"></div>
                    <div class="patches"></div>
					
                </div>

            </div>
{% endblock %}