{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/patch.css' %}">
    {% endblock %}
{% block content %}
<div class = "page_content">
 
    <div class = "titel"><h1>Patch 1</h1></div>

    <div class = "wrapper">
        <div class = "notification_box">
          <div class = "notifications">3 june</div>
            <div class = "notifications">5 july</div>
            <div class = "notifications">14 march</div>
            
        </div>
        <div class = "boxes">
            <div class = "box_link" id = "submission"> <h2>Submission</h2></div>
            <div class = "box_link" id = "give_feedback"><h2>Give feedback</h2></div>
            <div class = "box_link" id = "view_feedback"><h2>View feedback/Edit</h2></div>
            
        </div>
    </div>
</div>
{% endblock %}
