{% extends 'base.html' %}
{% load staticfiles %}

{% block import_block %}
<link rel="stylesheet" href="{% static 'css/stitch_patches.css' %}">
<script type="text/javascript" src="{% static 'js/stitch_patches.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page_content">
    <div class = "submission_history">
    {% for o, l in submissions %}
    <div class= "assignment_title">
        <h4>{{o.assignment.assignment_title}}</h4>
    </div>
    <div class = "edit_border">
        <h4>Original submitted on {{ o.published_date }}</h4><icon id = "id-sub-{{forloop.counter}}" onclick = "collapse_menu('{{o.id }}', this.id);">+</icon></div>
        <div class = "collapsable" id = "{{ o.id }}">{{ o.content }}</div>
    
    {% for se in submission_edits %}
        {% if se.submission.id == l.id %}
                <div class = "edit">
                    <div class = "edit_border">
                    
                    <h4>Edited on {{ se.date_time }}</h4><icon class ="plus" id = "id-{{forloop.counter}}"onclick = "collapse_menu('{{se.id }}',this.id);">+</icon>
                    </div>
                    <div class = "collapsable" id = "{{ se.id }}">
                    <div class = "deleted">
                        <h5>Deleted</h5>
                        {{ se.deleted }}
                    </div>
                    <div class = "added">
                        <h5>Added</h5>
                        {{ se.added }}
                    </div>
                </div>
                </div>
            {% endif %}
            {% endfor %}
            <div class = "latest_submission" id = "{{l.id}}">
                <h4>Latest submitted on {{l.published_date}}</h4>
                {{ l.content }}
            </div>
           
           
    {% endfor %}

</div>
</div>
{% endblock %}