{% extends 'base.html' %}
{% load staticfiles %}

{% block import_block %}
<link rel="stylesheet" href="{% static 'css/stitch_patches.css' %}">
<script type="text/javascript" src="{% static 'js/stitch_patches.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page_content">
    
    {% for o in original %}
    <div class= "patch_title">
        <p>{{o.patch.patch_title}}</p>
    </div>
        <div class = "patch_content">
      
            <div class = "submission_history">
                <div class = "edit_border">
                    <p>Original submitted on {{ o.published_date }}</p><icon id = "id-sub-{{forloop.counter}}" onclick = "collapse_menu('{{o.id }}', this.id);">+</icon>
                </div>
                <div class = "collapsable" id = "{{ o.id }}">
                    {{ o.content|safe }}
                </div>
                <div class = "edit">
                        {% for l in latest %}
                        {% if o.patch == l.patch %}
                        {% for se in submission_edits %}
                        {% if se.submission.id == l.id %}
                        <div class = "edit_border">
                   
               
                    
                        <p class = "ind_edits">Edited on {{ se.date_time }}</p><icon class ="plus" id = "id-{{forloop.counter}}"onclick = "collapse_menu('{{se.id }}',this.id);">+</icon>
                    </div>
                    <div class = "collapsable" id = "{{ se.id }}">
                        <div class = "deleted">
                            <h5>Changes</h5>
                            {{ se.deleted|safe}}
                        </div>
                   
                    </div>
                </div>
                        {% endif %}
                        {% endfor %}
            
                   
                    <div class = "latest_submission" id = "{{l.id}}">
                        <p>Latest submitted on {{l.published_date}}</p>
                        {{ l.content|safe }}
                    </div>
                    {% endif %}
                    {% endfor %}   
                
           
            </div>
                       
                       
    
               
    

                <div class = "final_submission">

                </div>

            
                <div class = "feedback_container">
                        {% if feedback %}
    
                        {% for f in feedback %}
                        {% if f.submission.id == o.id %}
    
                        <div class = ind_feedback><h5>{{ f.author }}</h5> <p>{{ f.review }}</p> </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                    </div>



                       
       
       
       
                {% endfor %}
       
       
        </div>


        </div>
        {% endblock %}