{% extends 'base.html' %}
{% load staticfiles %}

{% block import_block %}
<link rel="stylesheet" href="{% static 'css/student_home.css' %}">
    {% endblock %}
{% block content %}
<h1>My timeline</h1>
<div class="patchwork">
		{% for a in patches %}
		<div class = "patch_container">
		<h3>Patch {{ forloop.counter }}</h3>
		
			<a class="patches" href = "{% url 'patch_view' a.id %}"></a>
			<p>Due: {{ a.submission_date }}</p>
			
		</div>
			<div class = "line"></div>
		{% endfor %}
		<div class = "patch_container">
			<h3>Quilt</h3>
		<a class="patches" href = "{% url 'final_patch_view' student_id %}"></a>
	</div>
	
		
	
			

{% endblock %}