{% extends 'base.html' %}
{% load staticfiles %}

{% block import_block %}
<link rel="stylesheet" href="{% static 'css/student_home.css' %}">
    {% endblock %}
{% block content %}
<h1>My timeline</h1>
<div class="patchwork">
	{% for a in assignments %}
        <a class="patches" href = "{% url 'assignment_view' a.id %}">{{ a.assignment_title}}</a>
	{% endfor %}

	<a class="patches" href = "{% url 'assignment_view' final_assignment.id %}">{{ final_assignment.assignment_title }}</a>

	<div class = "timeline"></div>
</div>
	
	
			

{% endblock %}