nav {
    background-color:#6B7A8F;

    
    height:60px;
    margin:0;
    padding:0;
    
    
   
}

h1 {
    
   font-size:20px;
   
   font-family: voice-family;
   color:black;
   
   
}



body, html {
    background-color: WhiteSmoke;
    margin:0;
    height:100%;
    
}

.page{
    
    width: 100%;
    height: 100%;
    display: flex;
    
}

.left-content {
    
    width: 20%;
    height: 100%;
}

.middle-content {
    
    width: 100%;
    height: 100%;
    display: flex;
	
  align-items:center;
  
  background-color:white;
  margin-top:40px;
  border-radius: 15px;
  border: solid rgba(0,0,0,0.1) 1px;
  flex-direction:column;
    

}

.patchwork {
	
    width:750px;
    height: 100px;
   display:flex;
   margin-top:30px;
  
}

.patches {
	width:30px;
	height: 30px;
	border: solid orange 2px;
	border-radius:5px;
	
}
.peer-review {
	margin-top:10px;
	width: 10px;
	height:10px;
	border:solid orange 2px;
	border-radius:50px;
}
.timeline {
	flex-grow: 1;
	height:3px;
	
	margin-top:15px;
	background-color:orange;

}

.right-content {
    
    width: 20%;
    height: 100%;

}
