{% extends 'base.html' %}
{% load staticfiles %}

{% block import_block %}
<link rel="stylesheet" href="{% static 'css/stitch_patches.css' %}">
<script type="text/javascript" src="{% static 'js/stitch_patches.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page_content">
    
   
        <div class = "patch_content">
      
 
            
                



                       
                    </div>
      
       
               
       
       
      


        

        
              </div>
        {% endblock %}