{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/patch_view.css' %}">
    {% endblock %}
{% block content %}
<div class = "page_content">
 
    <div class = "title"><h3>{{ patch.patch_title }}</h3></div>

  
   
        <div class = "patch_display">
            <div class = "patch"> <p>{{ patch.patch_description }}</p></div>
            

            <div class = "submission_display">
                    <a class = "button" href = "{% url 'add_rubric' patch.id %}">Add peer-review rubrik</a>
                    <a class = "button" href = "{% url 'new_judge_session' patch.id %}">Judge submissions</a>
            {% if peer_rubrik %}
            {% for p in peer_rubrik %}
            <div class = "status_bar">{{ p.instruction }}</div>
            {% endfor %}
            {% endif %}
        </div>
            
</div>
{% endblock %}

{% block middle_content %}
{% endblock %}
