{% extends 'base.html' %}
{% load staticfiles %}
{% block import_block %}
<link rel="stylesheet" href="{% static 'css/patch_view.css' %}">
    {% endblock %}
{% block content %}
<div class = "page_content">
 
    <div class = "title"><h1>{{ patch.patch_title }}</h1></div>

  
   
        <div class = "patch_display">
            <div class = "patch"> <p>{{ patch.patch_description }}</p></div>
            <a href = "{% url 'add_rubrik' patch.id %}">Add peer-review rubrik</a>
            {% if peer_rubrik %}
            {% for p in peer_rubrik %}
            <div class = "peer_rubrik">{{ p.instruction }}</div>
            {% endfor %}
            {% endif %}
            
</div>
{% endblock %}

{% block middle_content %}
{% endblock %}
