
 
    
{% extends 'base.html' %}
{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/teacher_home.css' %}">

{% endblock %}

{% block content %}
<div class =  "page_content">

        <div class = "button_container">
                <a class = "add" href = "{% url 'add_student'%}">Add/Edit students</a>
                <a class = "add" href = "{% url 'add_patch'%}">Add patch</a>
            </div>

    <div class = "student_form">

        <table class ="1" >
            <th> Students </th>
            {% for a in patches %}
            <th colspan = "3"><div class = "patches"><a href = "{% url 'teacher_patch_view' a.id %}">{{ a.patch_title }}</a></div>
             
            </th>
            {% endfor %}
            <th><div class = "patches"><a>{{ final_quilt.patch_title }}</a></div></th>
            
           
           
               
                   
                      
                      
                        {% for a in patches %}
                       
                        {% endfor %}
                        </tr>
                            {% for s, a in zipped %}
                            <tr>
                <td><a href = "{% url 'final_patch_view' s.id %}">{{ s.user.username }} </a><td>
                            
                

                
                    {% for b in a %}
                  
                    <td>   {{ b.0 | safe }} </td>
                  <td>{{ b.1 | safe }} </td> 
                  
                <td>{{ b.2 | safe }} </td>
                    {% endfor %}
             
                
                    <td></td>
                </tr>
               
                   
                  
               
           
            {% endfor %}
           
        </table>
    </div>
  </div>
 

{% endblock %}

