{% extends 'base.html' %}
{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/teacher_home.css' %}">


    {% endblock %}

{% block content %}

<table border="1" style="width:100%">
    {% for header_cell in header_row %}
    <th>{{header_cell}}</th>
    {% endfor %}

    {% for row_content in table_content %}
    <tr>
        {% for cell_content in row_content %}
        <td>{{ cell_content }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>

{% endblock %}