<!DOCTYPE html>
{% load staticfiles %}

<html lang="en"></html>

<html>

<head>
        <link rel="stylesheet" href="{% static 'css/acj_view.css' %}">
        
        


        
        <nav>Quit session</nav>         
</head>

<body>
        
<div class = "page">
    <div class = "page_content">
    
    <div class = "script_container">
        <div class ="script">
                Forever we remain oblivious to the future, 
                lost to the past and enduring our torture. 
                Forever we take chances to settle our scores, 
                losing some battles and winning some wars. ...
        </div>
        <div class ="selection">
                
                <a>Script b is better</a>
        </div>

    </div>
    <div class = "script_container">
        <div class ="script">
                I come with no wrapping or pretty pink bows. 
                I am who I am, from my head to my toes. 
                I tend to get loud when speaking my mind. 
                Even a little crazy some of the time.
                
                
        </div>
        <div class ="selection">
            <a>Script b is better</a>
        </div>
    </div>
</div>


</div>
</body>
</html>

