{% extends 'base.html' %}
{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/view_feedback.css' %}">
<script src="{% static "js/view_feedback.js" %}"></script>

    {% endblock %}

{% block content %}
<div class = "page_content">
<div class = "submission_box">
    <div class = "submission">
        <p>dfsssdfddfsdffdddddddddsgfgfdsdgfdsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssfdsfsfsfa
            </p>

    </div>
    <div class = "peer_feedback">
        <div class = "ind_feedback"></div>
    </div>
    
</div>
<div class = "tutor_feedback">
        <p>dfsssdfddfsdffdddddddddsgfgfdsdgfdsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssfdsfsfsfa
            </p>
</div>
</div>

 
{% endblock %}