{% extends 'base.html' %}
{% load staticfiles %}


{% block import_block %}
<link rel="stylesheet" href="{% static 'css/view_feedback.css' %}">
 {% endblock %}

{% block content %}
<div class = "page_content">
<div class = "menu_bar">
       
        <a class = "box_link" id = "submission" href = "{% url 'patch_view' patch.id %}"> <p> {{ patch.patch_title }}</p></a>
        <a class = "box_link" id = "give_feedback" href = "{% url 'give_feedback' patch.id %}"><p>Give feedback</p></a>
        <a class = "box_link" id = "view_feedback" href = "{% url 'view_feedback' patch.id %}"><p>View feedback/Edit</p></a>
        
    </div>

    <div class = "feedback_display">

        <div class = "submission_container">
    
            {% if submission.len != 0 %}
            <a class = "button" href = "{% url 'edit_submission' patch.id %}">Edit submission</a>
                <div class = "submission_content"><p> {{ submission.content|safe }} </p></div> 
                     
        
            {% else %}
            <div class = "status_bar">No submission yet</div>
            {% endif %}
            

        </div>

    <div class = "tutor_feedback_section">
        {% if teacher_feedback %}
        <div class = "tutor_feedback">
            <h3>{{ teacher_feedback.author.username }}</h3>
            <p>
                {{ teacher_feedback.review }}
            </p> 
        </div>
    
        {% else %}
        <div class = "status_bar">No feedback from teacher yet</div>
        {% endif %}

    <div class = "peer_feedback">
        {% if peer_reviews %}
        {% for review in peer_reviews %}
    
        <div class = "ind_feedback">
            <h3>{{ review.author.username }}</h3>
            <p>{{ review.review }}</p>

        </div>
        {% endfor %}
        {% else %}
        <div class = "status_bar">No peer reviews yet</div>
        {% endif %}
    </div>
</div>
</div>
</div>

 
{% endblock %}